services:
  evolution_api:
    container_name: igsm_evolution_api
    image: evoapicloud/evolution-api:latest
    restart: always
    depends_on:
      - redis
      - postgres
    ports:
      - "${EVOLUTION_API_PORT:-8080}:8080"
    volumes:
      - evolution_instances:/evolution/instances
    networks:
      - evolution-net
    env_file:
      - .env
    environment:
      - LOG_LEVEL=DEBUG
      - DEBUG=true
    expose:
      - 8080

  redis:
    image: redis:latest
    restart: always
    networks:
      - evolution-net
    container_name: igsm_redis
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - evolution_redis:/data
    ports:
      - "${REDIS_PORT:-6379}:6379"


  postgres:
    container_name: igsm_postgres
    image: postgres:15
    networks:
      - evolution-net
    command:
      ["postgres", "-c", "max_connections=1000", "-c", "listen_addresses=*"]
    restart: always
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    env_file:
      - .env
    environment:
      # *** CAMBIO CRÍTICO: PONER LA CONTRASEÑA EN AMBOS LUGARES ***
      - POSTGRES_USER=user         
      - POSTGRES_PASSWORD=123456
      # POSTGRES_USER y POSTGRES_PASS están en el .env
      - POSTGRES_DB=${POSTGRES_DB:-evolution}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - 5432



volumes:
  evolution_instances:
  evolution_redis:
  postgres_data:

networks:
  evolution-net:
    name: evolution-net
    driver: bridge
